<!DOCTYPE html>
<html>
<head>
<title>
Add Survey
</title>
</head>
<body>

<form action="/survey" method="post">
<table align="center">
    <tr>
        <td colspan="2" align="center"><h2>Add Survey</h2></td>
    </tr>
    <tr>
        <td>Survey ID:</td>
        <td><input type="text" name="surveyId" /></td>
    </tr>
    <tr>
        <td>Game Genre:</td>
        <td><input type="text" name="gameGenre" /></td>
    </tr>
    <tr>
        <td>Days Per Year:</td>
        <td><input type="text" name="daysPerYear" /></td>
    </tr>
    <tr>
        <td>Age:</td>
        <td><input type="text" name="age" /></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Create Survey" /></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/">Back to Main Page</a></td>
    </tr>
</table>
</form>
</body>
</html>